{
  "project_info": {
    "project_number": "TU_PROJECT_NUMBER",
    "project_id": "tu-project-id",
    "storage_bucket": "tu-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456:android:abc",
        "android_client_info": {
          "package_name": "com.casablanca.gcbmesas"
        }
      }
    }
  ]
}
